@charset "windows-1251";
/* CSS Document */
* {margin: 0; padding: 0; outline: none;}

img2 {
	border:none;
}

span{
display:none;
}

div{
position:relative;
}

a:hover span{
	display:block;
	position:absolute;
	border:1px solid #CCCCCC;
	font-family:Tahoma;
	font-size:12px;
	width:500px;
	height:70px;
	left:40px;
	top:-40px;
	z-index:100;
	text-decoration:none;
	text-align: top;
	color:#666666;
	background-color:#FFFFFF;
}


body {
	background: #ededed;
	font: 12px Tahoma; color: #000;
	}

.header2 {
	background: url(head_bg.jpg) no-repeat left top;
	}

.left_bg2 {
	background: url(left_bg.jpg) no-repeat right top;
	}

.right_bg2 {
	background: url(right_bg.jpg) no-repeat left top;
	}

.cont_bg2 {
	background: url(cont_bg.jpg) repeat-y left top;
	padding: 0 20px;
	}

.hh1 {
	font-size: 16px;
	text-align: center;
	color: #c10000;
	}

.hh2 {
	font-size: 13px;
	color: #49545a;
	}
.desc {
	color: #c5b19b;
	font-size: 11px;
	font-weight: bold;
    position: relative;
    top: 6px;
    left: 53px;
    float: left;
}
.ht {
	color: #c5b19b; font-size: 11px; font-weight: bold;
	float: right;
	position: relative; right: 30px; top: 6px;
	width: 125px;
	text-align: center;
}
.menu {
	overflow: hidden;
	clear: both;
	position: relative;
	left: 45px;
}
.fl {
	overflow: hidden; clear: both;
	position: relative;
	cursor: pointer;
	top: 16px;
	z-index: 2;
	left: 543px;
}


.reg p {
	padding-bottom: 9px;
}
.reg input{
	background: #adadad;
	border: 1px solid #60605f;
	color: #fff;
	font-size:11px;
	padding: 3px 8px;
	width: 90%;
}
.box_b input{
	background: #adadad;
	border: 1px solid #60605f;
	color:  #850404;
	font-weight: bold;
	font-size:11px;
	margin-top: 1px;
    margin-bottom: 2px;
}
#reg_btn{
	background: #adadad;
	border: 1px solid #60605f;
	color:  #850404;
	font-weight: bold;
	cursor: pointer;
	font-size:14px;
	margin-top: 1px;
    margin-bottom: 2px;
}
.box_b textarea{
	background: #adadad;
	border: 1px solid #60605f;
	font-weight: bold;
	color:  #850404;
	font-size:11px;
	margin-top: 1px;
    margin-bottom: 2px;
}

.box_b select{
	background: #adadad;
	border: 1px solid #60605f;
	font-weight: bold;
	color:  #850404;
	font-size:11px;
	margin-top: 1px;
    margin-bottom: 2px;
}
.reg_in input {
	background: #eaeaea;
	border: 1px solid #980202!important;
	color: #6f6f6f;
	padding: 0;
	width: 66%;
	cursor: pointer;
}

.reg_b {
	font-weight: bold; color: #000!important;
	margin-right: 3px;
    width: 32% !important;
}
.reg .registration {
	background: url('/i/reg/reg_button.png') no-repeat;
	width: 230px; height: 36px;
	cursor: pointer;
	border: none;
	margin-left: -4px;
}
.die1 {
	background:url('/i/main/die_m.jpg') repeat-y left top;
}
.die2 {
	background:url('/i/main/die_t.jpg') no-repeat left top;
	padding: 14px 20px 0;
}
.die_st {
	background: url(/i/main/die1.png) no-repeat left top;
	padding: 24px 37px;
}
A:link {
 color:#8e4a01;
 font-weight: bold;
 text-decoration: none;
}
.cor {
	margin: 0 auto;
    position: relative;
    top: 105px;
    width: 990px;
    text-align: center;
	font-size: 9px; color: #32373B; text-decoration: none;
}
A:visited {
 color:#8e4a01;
 font-weight: bold;
 text-decoration: none;
}

A:hover {
 color:#a17c55;
 font-weight: bold;
 text-decoration: none;
}

h3 {
 background-image:url('http://i.oldbk.com/i/main/h1.jpg');
 height: 53px;
 line-height: 49px;
 text-align: center;
 color: #850404;
 font-size: 15px;
}
h3 a {
 font-size: 14px;
 color: #850404;
 font-weight: bold;
 text-decoration: none;
}

h3 a:hover {
 font-size: 15px;
 color: #cf0200;
 font-weight: bold;
 text-decoration: none;
}
h3 a:visited {
 font-size: 14px;
 color: #850404;
 font-weight: bold;
 text-decoration: none;
}
h4 {
 text-align: center;
 color: #101519;
 font-size: 18px;
}
h5 {
 text-align: center;
 color: #850404;
 font-size: 16px;
}
h8 {
 text-align: center;
 color: #1c334b;
 font-size: 16px;
}
h6 {
 text-align: left;
 color: #762020;
 font: bold 15px tahoma;
 float:left;
}
h7 {
 text-align: right;
 color: #762020;
 font: bold 15px tahoma;
 float:right;
}
#box2 {
		height: 120px;
		width: 168px;
		margin: auto;
		cursor: pointer;
}
.box_form td {
    color: #000000;
    font: 12px Tahoma;
    padding: 5px;
}
.box_description td, box_description th {
    text-align: left;
}
.input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DCDCDA;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px #EFEFEF inset;
    color: #333333;
    font: 12px/26px Tahoma;
    height: 26px;
    padding: 0 4px;
    width: 200px;
}
.bday {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DCDCDA;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    font: 12px/26px Tahoma;
    height: 26px;
    margin-right: 5px;
    padding: 0 0 0 4px;
}
.pw {
    position: relative;
    width: 205px;
}
.pw_eye {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 11px;
}
.agreement {
    color: #999999;
    font: 10px Tahoma;
    margin-bottom: 10px;
}
.agreement a {
    color: #999999;
    font: 10px Tahoma;
    text-decoration: underline;
}
.agreement a:hover {
    text-decoration: none;
}