body {
    margin: 0 0 0 0;
    font-family: Verdana;
    background-color: #d7d7d7;
}

.main {
    background: url('http://i.oldbk.com/i/images/MainBG.jpg') no-repeat center top;
    height: 100%;
    width: 100%;
}

.content {
    width: 900px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 100px;
}

a, a img {
    border: none;
}

a.santa {
    position: relative;
    top: 260px;
    left: 10px;
    background: url('http://i.oldbk.com/i/images/santa_active.png') no-repeat;
    height: 177px;
    width: 127px;
    display: inline-block;
}

a.gift {
    position: relative;
    top: 275px;
    left: 10px;
    background: url('http://i.oldbk.com/i/images/gift_active.png') no-repeat;
    height: 80px;
    width: 80px;
    display: inline-block;
}

a.food {
    position: relative;
    top: 260px;
    left: 30px;
    background: url('http://i.oldbk.com/i/images/food_active.png') no-repeat;
    height: 75px;
    width: 100px;
    display: inline-block;
}

a:hover.santa {
    background: url('http://i.oldbk.com/i/images/santa_hover.png') no-repeat;
}

a:hover.gift {
    background: url('http://i.oldbk.com/i/images/gift_hover.png') no-repeat;
}

a:hover.food {
    background: url('http://i.oldbk.com/i/images/food_hover.png') no-repeat;
}

.notes {
    float: right;
    text-align: right;
    margin: 200px 40px 0 0;
}

.m_block {
    background: url('http://i.oldbk.com/i/images/nickname_bg.png') no-repeat top right;
}

.name {
    font-size: 13px;
    color: #004c89;
    position: relative;
    top: 10px;
    margin-right: 30px;
    height: 27px;
}

.message {
    background: url(http://i.oldbk.com/i/images/bg_message.png);
    min-height: 20px;
    width: 485px;
    font-size: 12px;
    color: #0c77ce;
    position: relative;
    margin-top: 2px;
    padding: 10px;
    border: 1px solid #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.message p {
    margin: 0;
}

.clear-left {
    clear: left;
}
.clear-right {
    clear: right;
}

.pager {
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
    width: 490px;
}
.pager div {
    float: left;
    border: 1px solid #c1d5e9;
    padding: 2px 10px 5px 10px;
    background-color: #f3f3f3;
    margin-right: 5px;
}
.pager div a {
    color: #004e8f;
    font-size: 12px;
    font-family: Verdana;
    font-weight: bold;
    text-decoration: none;
}

.mess {
    padding-top: 15px;
    text-align: center;
}
.mess textarea {
    border: 1px solid #fff;
    background-color: #e6e6e6;
    color: #93a5b3;
    height: 40px;
    overflow: auto;
    width: 485px;
    padding: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.mess button {
    color: #93a5b3;
    color: #004e8f;
    font-size: 12px;
    font-family: Verdana;
    font-weight: bold;
    border: 1px solid #c1d5e9;
    padding: 5px 10px 5px 10px;
    background-color: #f3f3f3;

}
.mess img {

}
p {
    white-space: pre-wrap;       
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;   
    word-wrap: break-word;    
}